# =====================
# Rust
# =====================
**/target/
**/*.rs.bk
**/Cargo.lock

# =====================
# Python
# =====================
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache

# Virtual environments
**/.venv/
**/venv/
**/ENV/
**/env/
**/*.egg-info/
**/.eggs/

# Distribution / packaging
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/.eggs/
**/sdist/
**/*.egg
**/MANIFEST

# PyInstaller
**/*.spec

# Unit test / coverage reports
**/htmlcov/
**/.tox/
**/.nox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover

# MyPy
**/.mypy_cache/
**/.dmypy.json
**/dmypy.json

# Pylint
**/pylint-report.txt
**/pylint-global.txt

# Pyre
**/.pyre/

# Jupyter Notebook
**/.ipynb_checkpoints/

# =====================
# OS / Editor / Misc
# =====================
**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*.log
**/*.sqlite3

# VSCode
**/.vscode/

# JetBrains
**/.idea/

# =====================
# Optional
# =====================
# Poetry
**/poetry.lock

# Pipenv
**/Pipfile.lock

# wasm-pack
**/pkg/
